.leftcol{
  padding-right: 3em;
  text-align: right;
  position: relative;
}

.rightcol{
  padding-left: 0em;
  text-align: left;
  position: relative;
}

img{
  margin: 0px;
}


.timeline{
  border: 1px solid #fff;
  border: 1px solid var(--second-col);
  width: 100%;

  background-image: url("../icons/line.svg");
  background-repeat: repeat-y;
  background-position: center;

  padding-bottom: 50px;
}

.text-cont{
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.text-cont > p{
  background-color: rgba(0, 0, 0, 0);
}

.leftcol > .text-cont > *{
  text-align: right;
}


.rightcol > .text-cont > *{
  text-align: left;
}

.time-image{
  position: absolute;
  width: 350px;
  height: 100%;
  z-index: -10;
  opacity: 0.7;
  border-radius: 10px;
  border: solid 4px rgba(123, 138, 237, 0.8);
}

.rightcol > .time-image{
  left: 0%;
}

.leftcol > .time-image{
  right: 0%;
}


/* .testing{
  border: 2px solid red;
} */
